<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<dom-module id="cuentas-listar">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }

            a {
                text-decoration: none;
            }

            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
                height: 25px;
            }

            paper-button.green:hover {
                background-color: var(--paper-green-400);
            }

            paper-button.green {
                background-color: var(--paper-green-500);
                color: white;
            }

            paper-button.red:hover {
                background-color: var(--paper-red-400);
            }

            paper-button.red {
                background-color: var(--paper-red-500);
                color: white;
            }

            paper-button.blue:hover {
                background-color: var(--paper-blue-400);
            }

            paper-button.blue {
                background-color: var(--paper-blue-500);
                color: white;
            }

            paper-button.disabled {
                color: black;
                background-color: #969696;
            }

            table,
            td,
            th {
                border: 1px solid #ddd;
                text-align: left;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                padding: 5px;
            }

            .text-right {
                text-align: right;
            }

            .hide {
                display: none;
            }
        </style>

        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-data key="userData" data="{{storedUser}}"></app-data>

        <iron-ajax auto id="listarUsuarios" url="[[storedUser.path]]/cuenta/[[storedUser.id]]" last-response="{{users}}"
            headers="{{getHeaders()}}">
        </iron-ajax>

        <br><br>

        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Nro de cuenta</th>
                    <th>Saldo contable</th>
                    <th>Saldo disponible</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="[[users]]">
                    <tr>
                        <td>[[item.nroCuenta]]</td>
                        <td class="text-right">S/ [[item.saldoContable]].00</td>
                        <td class="text-right">S/ [[item.saldoDisponible]].00</td>
                        <td>
                            <paper-button raised class="green" on-tap="verMovimientos" data-foo="[[item._id]]">Ver
                                movimientos</paper-button>
                        </td>
                    </tr>
                    <tr id="tblCta_[[item._id]]" class="hide">
                        <td colspan="4">
                            <table style="width:50% !important;">
                                <thead>
                                    <tr>
                                        <th>FECHA</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>MONTO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="{{item.movimientos}}">
                                        <tr>
                                            <td>[[dateFormat(item.createdAt)]]</td>
                                            <td>[[item.descripcion]]</td>
                                            <td class="text-right">S/ [[item.monto]].00</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>

    <script>
        (function () {
            Polymer({
                is: 'cuentas-listar',
                verMovimientos: function (e) {
                    var id = e.model.get('item._id');
                    var element = document.getElementById("tblCta_" + id);
                    element.classList.toggle("hide");
                },
                getHeaders: function () {
                    user = JSON.parse(localStorage['user-storage']);
                    return { "Content-Type": "application/json", "token": user.access_token };
                },
                dateFormat: function (createdAt) {
                    var d = new Date(createdAt);
                    return d.toLocaleString();
                }
            });
        }());
    </script>
</dom-module>