<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">
<link rel="import" href="estilos-css.html">

<dom-module id="inicio-sesion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .wrapper-btns {
        margin-top: 15px;
      }

      a {
        color: var(--primary-color);
      }

      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="json"
      on-response="handleUserResponse" on-error="handleUserError"></iron-ajax>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Bienvenido</h1>

        <p>Ingresar tu usuario y contraseña para acceder al sistema</p>

        <template is="dom-if" if="[[error.message]]">
          <p class="alert-error">[[error.message]]</p>
        </template>

        <template is="dom-if" if="[[error.errors]]">
          <div class="alert-error">
            Debes corregir los siguientes errores:
            <ul>
              <template is="dom-repeat" items="[[error.errors]]">
                <li>[[item.msg]]</li>
              </template>
            </ul>
          </div>
        </template>

        <paper-input-container>
          <label>Usuario</label>
          <input is="iron-input" id="usuario" type="text" bind-value="{{formData.usuario}}" maxlength="10">
        </paper-input-container>

        <paper-input-container>
          <label>Contraseña</label>
          <input is="iron-input" id="contrasena" type="password" bind-value="{{formData.contrasena}}">
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Iniciar sesión</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Selecciona una opción de la barra de menú izquierda</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>

    </div>
  </template>

  <script>
    (function () {
      Polymer({
        is: 'inicio-sesion',

        properties: {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: Object
        },

        _setReqBody: function () {
          this.$.registerLoginAjax.body = this.formData;
        },

        postLogin: function () {
          this.$.registerLoginAjax.url = 'http://localhost:4000/usuarios/login';
          this._setReqBody();
          this.$.registerLoginAjax.generateRequest();
        },

        handleUserResponse: function (event) {
          var response = event.detail.response;

          if (response.token) {
            this.error = '';
            this.storedUser = {
              id: response.user._id,
              name: response.user.nombres + " " + response.user.apepat,
              admin: response.user.admin,
              access_token: response.token,
              loggedin: true,
              path: 'http://localhost:4000'
            };
            // redirect to Secret Quotes
            this.set('route.path', '/');
          }

          // reset form data
          this.formData = {};
        },

        handleUserError: function (event) {
          this.error = event.detail.request.xhr.response;
          console.log(event.detail.request.xhr.response)
        }
      });
    }());
  </script>
</dom-module>