<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="app-data.html">
<link rel="import" href="log-out.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }

      app-header .greeting {
        border-right: 1px solid rgba(255, 255, 255, .5);
        display: inline-block;
        padding-right: 6px;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list .iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <app-data key="userData" data="{{storedUser}}"></app-data>

    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer>
        <app-toolbar>Proyecto BBVA</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <template is="dom-if" if="[[storedUser.admin]]">
            <div name="usuario-listar" hidden$="[[!storedUser.loggedin]]">
              <a href="/usuario-listar">Usuarios</a>
            </div>
          </template>
          <template is="dom-if" if="[[!storedUser.admin]]">
            <div name="cuentas-listar" hidden$="[[!storedUser.loggedin]]">
              <a href="/cuentas-listar">Cuentas</a>
            </div>
          </template>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>Proyecto BBVA Tech University - Perú (1ª edición 2020)</div>
            <a name="inicio-sesion" href="/inicio-sesion" hidden$="[[storedUser.loggedin]]">Iniciar sesión</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Bienvenido [[storedUser.name]]</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">
          <home-quotes name="home-quotes"></home-quotes>
          <inicio-sesion name="inicio-sesion"></inicio-sesion>
          <secret-quotes name="secret-quotes"></secret-quotes>
          <not-found name="not-found"></not-found>
          <usuario-listar name="usuario-listar"></usuario-listar>
          <usuario-editar name="usuario-editar"></usuario-editar>
          <usuario-registrar name="usuario-registrar"></usuario-registrar>
          <cuentas-listar name="cuentas-listar"></cuentas-listar>
          <movimientos-listar name="movimientos-listar"></movimientos-listar>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    (function () {
      Polymer({
        is: 'my-app',

        properties: {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },
          storedUser: Object
        },

        observers: [
          '_routePageChanged(routeData.page)'
        ],

        _routePageChanged: function (page) {
          this.page = page || 'inicio-sesion';
        },

        _pageChanged: function (page) {
          // Load page import on demand. Show 404 page if fails          
          var resolvedPageUrl = this.resolveUrl(page + '.html');
          this.importHref(resolvedPageUrl, null, this._showPage404, true);
        },

        _showPage404: function () {
          this.page = 'not-found';
        }
      });
    }());
  </script>
</dom-module>