<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="not-found">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px 20px;
      }
    </style>

    <p>Error 404 <a href="/">Regresar a la página de inicio.</a></p>
  </template>

  <script>
    Polymer({
      is: 'not-found'
    });
  </script>
</dom-module>