<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="usuario-editar">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }

            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
                height: 25px;
            }

            paper-button.green:hover {
                background-color: var(--paper-green-400);
            }

            paper-button.green {
                background-color: var(--paper-green-500);
                color: white;
            }

            paper-button.red:hover {
                background-color: var(--paper-red-400);
            }

            paper-button.red {
                background-color: var(--paper-red-500);
                color: white;
            }

            paper-button.disabled {
                color: black;
                background-color: #969696;
            }
        </style>

        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-data key="userData" data="{{storedUser}}"></app-data>

        <app-location route="{{route}}"></app-location>

        <app-route route="{{route}}" pattern="/:modulo/:usuario_id" data="{{routeData}}" tail="{{subroute}}">
        </app-route>

        <iron-ajax auto url="[[storedUser.path]]/usuarios/{{routeData.usuario_id}}" handle-as="json"
            on-response="_handleResponse" headers="{{getHeaders()}}">
        </iron-ajax>

        <iron-ajax id="registerLoginAjax" method="put" content-type="application/json" handle-as="json"
            on-response="handleUserResponse" on-error="handleUserError" headers="{{getHeaders()}}"></iron-ajax>

        <div class="card">
            <template is="dom-if" if="[[error.errors]]">
                Debes corregir los siguientes errores:
                <ul>
                    <template is="dom-repeat" items="[[error.errors]]">
                        <li>[[item.msg]]</li>
                    </template>
                </ul>
            </template>

            <template is="dom-if" if="[[!error.errors]]">
                Se actualizó correctamente el usuario!
            </template>

            <paper-input-container>
                <label>DNI(Usuario)</label>
                <input is="iron-input" id="username" type="dni" bind-value="{{formData.usuario}}" disabled>
            </paper-input-container>
            <paper-input-container>
                <label>Nombres</label>
                <input is="iron-input" id="nombres" type="text" bind-value="{{formData.nombres}}">
            </paper-input-container>
            <paper-input-container>
                <label>Apellido Paterno</label>
                <input is="iron-input" id="apepat" type="text" bind-value="{{formData.apepat}}">
            </paper-input-container>
            <paper-input-container>
                <label>Apellido Materno</label>
                <input is="iron-input" id="apemat" type="text" bind-value="{{formData.apemat}}">
            </paper-input-container>
            <paper-input-container>
                <label> Correo Electrónico</label>
                <input is="iron-input" id="email" type="text" bind-value="{{formData.email}}">
            </paper-input-container>
            <br>
            <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="postRegister">Actualizar datos</paper-button>
                <paper-button raised class="primary">
                    <a href="/usuario-listar">Regresar</a>
                </paper-button>

            </div>
        </div>
    </template>

    <script>
        (function () {
            Polymer({
                is: 'usuario-editar',

                properties: {
                    formData: {
                        type: Object,
                        value: {}
                    },
                    storedUser: Object,
                    error: Object,
                    storedUser: {
                        type: Object,
                        value: {},
                        notify: true
                    }
                },

                _setReqBody: function () {
                    this.$.registerLoginAjax.body = this.formData;
                },

                postRegister: function () {
                    user = JSON.parse(localStorage['user-storage']);
                    this.$.registerLoginAjax.url = user.path + '/usuarios/' + this.formData._id;
                    this._setReqBody();
                    this.$.registerLoginAjax.generateRequest();
                },

                handleUserResponse: function (event) {
                    var response = event.detail.response;

                    if (response.message) {
                        this.error = {};
                        alert(response.message);
                        location.href = "/usuario-listar"
                    }
                },

                handleUserError: function (event) {
                    this.error = event.detail.request.xhr.response;
                },

                _handleResponse: function (event, request) {
                    this.formData = request.response;
                },

                getHeaders: function () {
                    user = JSON.parse(localStorage['user-storage']);
                    return { "Content-Type": "application/json", "token": user.access_token };
                }
            });
        }());
    </script>
</dom-module>