<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="app-data.html">
<link rel="import" href="shared-styles.html">

<dom-module id="usuario-registrar">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }

            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
                height: 25px;
            }

            paper-button.green:hover {
                background-color: var(--paper-green-400);
            }

            paper-button.green {
                background-color: var(--paper-green-500);
                color: white;
            }

            paper-button.red:hover {
                background-color: var(--paper-red-400);
            }

            paper-button.red {
                background-color: var(--paper-red-500);
                color: white;
            }

            paper-button.disabled {
                color: black;
                background-color: #969696;
            }

            .alert-error {
                background: #ffcdd2;
                border: 1px solid #f44336;
                border-radius: 3px;
                color: #333;
                font-size: 14px;
                padding: 10px;
            }
        </style>

        <app-location route="{{route}}"></app-location>

        <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="json"
            on-response="handleUserResponse" on-error="handleUserError" headers="{{getHeaders()}}"></iron-ajax>

        <div class="card">
            <template is="dom-if" if="[[error.errors]]">
                <div class="alert-error">
                    Debes corregir los siguientes errores:
                    <ul>
                        <template is="dom-repeat" items="[[error.errors]]">
                            <li>[[item.msg]]</li>
                        </template>
                    </ul>
                </div>
            </template>

            <template is="dom-if" if="[[error.msg]]">
                <p class="alert-error">[[error.msg]]</p>
            </template>

            <paper-input-container>
                <label>DNI(Usuario)</label>
                <input is="iron-input" id="usuario" type="dni" bind-value="{{formData.usuario}}">
            </paper-input-container>
            <paper-input-container>
                <label>Nombres</label>
                <input is="iron-input" id="nombres" type="text" bind-value="{{formData.nombres}}">
            </paper-input-container>
            <paper-input-container>
                <label>Apellido Paterno</label>
                <input is="iron-input" id="apepat" type="text" bind-value="{{formData.apepat}}">
            </paper-input-container>
            <paper-input-container>
                <label>Apellido Materno</label>
                <input is="iron-input" id="apemat" type="text" bind-value="{{formData.apemat}}">
            </paper-input-container>
            <paper-input-container>
                <label> Correo Electrónico</label>
                <input is="iron-input" id="email" type="text" bind-value="{{formData.email}}">
            </paper-input-container>
            <paper-input-container>
                <label>Contraseña</label>
                <input is="iron-input" id="contrasena" type="password" bind-value="{{formData.contrasena}}">
            </paper-input-container>
            <br>
            <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="postRegister">Registrar</paper-button>
                <paper-button raised class="primary">
                    <a href="/usuario-listar">Regresar</a>
                </paper-button>
            </div>
        </div>
    </template>

    <script>
        (function () {
            Polymer({
                is: 'usuario-registrar',

                properties: {
                    formData: {
                        type: Object,
                        value: {}
                    },
                    storedUser: Object,
                    error: Object
                },

                _setReqBody: function () {
                    this.$.registerLoginAjax.body = this.formData;
                },

                postRegister: function () {
                    user = JSON.parse(localStorage['user-storage']);
                    this.$.registerLoginAjax.url = user.path + '/usuarios/signup';
                    this._setReqBody();
                    this.$.registerLoginAjax.generateRequest();
                },

                handleUserResponse: function (event) {
                    var response = event.detail.response;
                    console.log(response);
                    if (response.token) {
                        this.error = {};
                        alert("Usuario registrado!");
                        location.href = "/usuario-listar"
                    }

                    this.formData = {};
                },

                handleUserError: function (event) {
                    console.log(event.detail.request.xhr.response);
                    this.error = event.detail.request.xhr.response;
                },

                getHeaders: function () {
                    user = JSON.parse(localStorage['user-storage']);
                    return { "Content-Type": "application/json", "token": user.access_token };
                }
            });
        }());
    </script>
</dom-module>