<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<dom-module id="usuario-listar">
    <template>
        <style>
            :host {
                display: block;
                padding: 10px 20px;
            }

            a {
                text-decoration: none;
            }

            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
                height: 25px;
            }

            paper-button.green:hover {
                background-color: var(--paper-green-400);
            }

            paper-button.green {
                background-color: var(--paper-green-500);
                color: white;
            }

            paper-button.red:hover {
                background-color: var(--paper-red-400);
            }

            paper-button.red {
                background-color: var(--paper-red-500);
                color: white;
            }

            paper-button.blue:hover {
                background-color: var(--paper-blue-400);
            }

            paper-button.blue {
                background-color: var(--paper-blue-500);
                color: white;
            }

            paper-button.disabled {
                color: black;
                background-color: #969696;
            }

            table,
            td,
            th {
                border: 1px solid #ddd;
                text-align: left;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                padding: 5px;
            }
        </style>
        <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
        <app-data key="userData" data="{{storedUser}}"></app-data>

        <iron-ajax auto id="listarUsuarios" url="[[storedUser.path]]/usuarios" last-response="{{users}}"
            headers="{{getHeaders()}}">
        </iron-ajax>

        <iron-ajax auto id="eliminarUsuario" method="delete" content-type="application/json" handle-as="json"
            on-response="handleUserResponse" on-error="handleUserError" headers="{{getHeaders()}}"></iron-ajax>

        <a name="not-found" href="/usuario-registrar">
            <paper-button toggles raised class="blue">Registrar usuario</paper-button>
        </a>

        <br><br>

        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Email</th>
                    <th colspan="2">Editar/Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="[[users]]">
                    <tr>
                        <td>[[item.usuario]]</td>
                        <td>[[item.nombres]]</td>
                        <td>[[item.apepat]]</td>
                        <td>[[item.apemat]]</td>
                        <td>[[item.email]]</td>
                        <td>
                            <a name="not-found" href="/usuario-editar/{{item._id}}" hidden="[[isAdmin(item.usuario)]]">
                                <paper-button toggles raised class="green">Editar</paper-button>
                            </a>
                        </td>
                        <td>
                            <a name="not-found" href="#" on-tap="eliminarUsuario" hidden="[[isAdmin(item.usuario)]]">
                                <paper-button toggles raised class="red">Eliminar
                                </paper-button>
                            </a>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>

    <script>
        (function () {
            Polymer({
                is: 'usuario-listar',

                eliminarUsuario: function (e) {
                    if (window.confirm("Está seguro de eliminar el registro?")) {
                        var id = e.model.get('item._id');
                        user = JSON.parse(localStorage['user-storage']);
                        this.$.eliminarUsuario.url = user.path + '/usuarios/' + id;
                        this.$.eliminarUsuario.body = {
                            type: Object,
                            value: {}
                        };
                        this.$.eliminarUsuario.generateRequest();
                    }
                },

                handleUserResponse: function (event) {
                    var response = event.detail.response;
                    if (response.message) {
                        alert(response.message);
                        this.$.listarUsuarios.generateRequest();
                    }
                },
                handleUserError: function (event) {
                    this.error = event.detail.request.xhr.response;
                },
                getHeaders: function () {
                    user = JSON.parse(localStorage['user-storage']);
                    return { "Content-Type": "application/json", "token": user.access_token };
                },
                isAdmin: function (usuario) {
                    return usuario == '00000000';
                }
            });
        }());
    </script>
</dom-module>